<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listeners.init</listener-class>
    </listener>
    <servlet>
        <servlet-name>InputControl</servlet-name>
        <servlet-class>servlets.InputControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommandServlet</servlet-name>
        <servlet-class>servlets.CommandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HadoopServlet</servlet-name>
        <servlet-class>servlets.HadoopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WriteToFileServlet</servlet-name>
        <servlet-class>servlets.WriteToFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CallExternal</servlet-name>
        <servlet-class>servlets.CallExternal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadText</servlet-name>
        <servlet-class>servlets.ReadText</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientUploadServlet</servlet-name>
        <servlet-class>servlets.ClientUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServerUploadServlet</servlet-name>
        <servlet-class>servlets.ServerUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OctetStreamReader</servlet-name>
        <servlet-class>servlets.OctetStreamReader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>catFile</servlet-name>
        <servlet-class>servlets.catFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MapUploadServlet</servlet-name>
        <servlet-class>servlets.MapUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientUploadServlet1</servlet-name>
        <servlet-class>servlets.ClientUploadServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Getdirection</servlet-name>
        <servlet-class>servlets.Getdirection</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InputControl</servlet-name>
        <url-pattern>/InputControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommandServlet</servlet-name>
        <url-pattern>/CommandServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HadoopServlet</servlet-name>
        <url-pattern>/HadoopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WriteToFileServlet</servlet-name>
        <url-pattern>/WriteToFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CallExternal</servlet-name>
        <url-pattern>/CallExternal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadText</servlet-name>
        <url-pattern>/ReadText</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientUploadServlet</servlet-name>
        <url-pattern>/ClientUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServerUploadServlet</servlet-name>
        <url-pattern>/ServerUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OctetStreamReader</servlet-name>
        <url-pattern>/OctetStreamReader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>catFile</servlet-name>
        <url-pattern>/catFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MapUploadServlet</servlet-name>
        <url-pattern>/MapUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientUploadServlet1</servlet-name>
        <url-pattern>/ClientUploadServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Getdirection</servlet-name>
        <url-pattern>/Getdirection</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
