
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
    margin: 20px 0px 0px 0px;
    padding: 0;
    background: #E6E6E6 url(../images/main-bg.png) repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #8F8F8F;
}

#body1 {
    margin: 0px 0px 0px 0px;
    padding: 0;
    background: #E6E6E6 url(../images/main-bg.png) repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #8F8F8F;
}
h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: 200;
    color: #222222;
}

h2 {
    font-size: 3em;
}

p, ol, ul {
    margin-top: 0px;
    padding: 0px;
}

p, ol {
    line-height: 180%;
}

strong {
}

a {
    color: #5C5539;
}

a:hover {
    text-decoration: none;
}

a img {
    border: none;
}

img.border {
}

img.alignleft {
    float: left;
}

img.alignright {
    float: right;
}

img.aligncenter {
    margin: 0px auto;
}

hr {
    display: none;
}

/** WRAPPER */

#wrapper {
    overflow: hidden;
    width: 1200px;
    margin: 0px auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,.2);
}

#wrapper1 {
    overflow: hidden;
    width: 1200px;
    height: 170px;
    margin: 0px auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,.2);
}

.container {
    width: 1000px;
    margin: 0px auto;
}

.clearfix {
    clear: both;
}

/* Header */

#header-wrapper {
    overflow: hidden;
    height: 150px;
    background: #36332E;
}

#header {
    width: 1200px;
    height: 150px;
    margin: 0 auto;
    padding: 0px 0px;
}

/* Logo */

#logo {
    float: left;
    width: 310px;
    height: 170px;
    background: #EBB462;
    padding: 0px 0px 0px 40px;
}

#logo h1 {
    padding: 50px 0px 0px 0px;
    text-transform: lowercase;
    letter-spacing: -2px;
    font-size: 3.6em;
}

#logo h1 a {
    text-decoration: none;
    color: #1B2024;
}

#logo p {
    margin-top: -10px;
    color: #5F5950;
}

/* Menu */

#menu {
    float: right;
    width: 810px;
    height: 80px;
    padding: 20px 40px 0px 0px;
}

#menu ul {
    float: right;
    margin: 0;
    padding: 40px 0px 0px 0px;
    list-style: none;
    line-height: normal;
}

#menu li {
    float: left;
}

#menu a {
    display: block;
    margin-left: 1px;
    padding: 7px 20px 7px 20px;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #757575;
}

#menu a:hover, #menu .current_page_item a {
    text-decoration: none;
    background: #EBB462;
    box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,.1);
    border-radius: 5px;
    color: #36332E;
}

/* Page */

#page-wrapper {
    overflow: hidden;
}

#page {
    overflow: hidden;
    width: 1120px;
    margin: 0px auto;
    padding: 50px 40px;
    color: #8F8F8F;
}

/** CONTENT */

#wide-content {
}

#wide-content h2 {
    padding: 0px 0px 20px 0px;
    letter-spacing: -1px;
    font-size: 36px;
    color: #222222;
}


/** CONTENT */

#content {
    float: right;
    width: 800px;
    padding: 0px 0px 0px 0px;
}

#content h2 {
    padding: 0px 0px 20px 0px;
    letter-spacing: -1px;
    font-size: 36px;
    color: #222222;
}

#content .subtitle {
    padding: 0px 0px 30px 0px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: #81AFC5;
}

/** SIDEBAR */

#sidebar {
    float: left;
    width: 290px;
    padding: 0px 0px 20px 0px;
}

#sidebar h2 {
    padding: 0px 0px 30px 0px;
    letter-spacing: -1px;
    font-size: 2em;
}

/* Footer */

#footer {
    height: 100px;
    margin: 0 auto;
    padding: 50px 0px 15px 0px;
}

#footer p {
    text-shadow: 1px 1px 0px #FFFFFF;
    text-align: center;
    font-size: 12px;
    color: #4D565E;
}

#footer a {
    color: #4D565E;
}

/* Three Column Footer Content */

#footer-wrapper {
    background: #F1F2E9;
}
#footer-wrapper1 {
    background: #36332E;

}
#footer-content {
    overflow: hidden;
    width: 1120px;
    margin: 0px auto;
    padding: 50px 40px;
    color: #717171;
}
#footer-content1 {
    overflow: hidden;
    width: 800px;
    margin: 0px auto;
    padding: 50px 40px;
    color: #717171;

}
fieldset{
    background: #FFFFFF;
}

#field1{
    background: #F1F2E9;

}

#field2{
    
    background: #36332E;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;

}

#field2 h3{

    color: #FFFFFF;

}
#field2 h2{

    color: #FFFFFF;

}
#field2 a{

    color: #EBB462;

}

#field3{

  background: #FFFFFF;
  width: 300px;

}

#footer-content a {
}

#footer-content h2 {
    margin: 0px;
    padding: 0px 0px 30px 0px;
    letter-spacing: -1px;
    font-size: 30px;
    color: #36332E;
}

#footer-content #fbox1 {
    float: left;
    width: 280px;
    margin-right: 30px;
}


#footer-content #fbox2 {
    float: left;
    width: 500px;
}

#footer-content #fbox3 {
    float: right;
    width: 280px;
}

/* Banner Style */

#banner-wrapper {
}

#banner {
    overflow: hidden;
    width: 600px;
    margin: 30px auto 0px auto;
}

/* Button Style */

.button-style {
    display: inline-block;
    margin-top: 30px;
    padding: 7px 30px;
    background: #36332E;
    border-radius: 5px;
}

.button-style a {
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
}

/* List Style 1 */

ul.style1 {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.style1 li {
    padding: 20px 0px 20px 0px;
    border-top: 1px dashed #E6E7DC;
}

ul.style1 a {
    text-decoration: none;
    color: #6B6B6B;
}

ul.style1 a:hover {
    text-decoration: underline;
    color: #6B6B6B;
}

ul.style1 .first {
    padding-top: 0px;
    border-top: none;
}

/* List Style 2 */

ul.style2 {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.style2 li {
    padding: 15px 0px 15px 0px;
    border-top: 1px solid #E6E7DC;
}

ul.style2 .first {
    padding-top: 0px;
    border-top: none;
}

/* List style 3 */

ul.style3 {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.style3 li {
    padding: 20px 0px 20px 0px;
    border-top: 1px solid #E6E7DC;
}

ul.style3 p {
    margin: 0px;
    padding: 0px;
}

ul.style3 img {
    float: left;
    margin-top: 3px;
    margin-right: 20px;
}

ul.style3 .posted {
    padding: 10px 0px 10px 0px;
    font-size: 8pt;
    color: #A2A2A2;
}

ul.style3 .first {
    padding-top: 0px;
    border-top: none;
}

/* Recent News */

#recent-news {
    overflow: hidden;
    width: 1120px;
    padding: 50px 40px;
    background: #36332E;
    color: #8C8C8C;
}

#recent-news h2 {
    padding: 0px 0px 20px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    color: #EDEDED;
}

#recent-news .date {
    padding: 0px 0px 10px 0px;
    font-weight: bold;
    font-style: normal;
    color: #E3E3E3;
}

#recent-news p {
    font-style: italic;
}

#recent-news a {
    font-style: normal;
    color: #B8B8B8;
}

#recent-news #rbox1 {
    float: left;
    width: 250px;
    margin-right: 40px;
}

#recent-news #rbox2 {
    float: left;
    width: 250px;
    margin-right: 40px;
}

#recent-news #rbox3 {
    float: left;
    width: 250px;
}

#recent-news #rbox4 {
    float: right;
    width: 250px;
}

/* Button Style */

.button-style1 {
    margin-top: 30px;
}

.button-style1 a {
    padding: 10px 25px;
    background: #EBB462;
    border-radius: 5px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #FCE3BB;
    color: #36332E !important;
}

.button, .button span {
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.button {
    white-space: nowrap;
    line-height:1em;
    position:relative;
    outline: none;
    overflow: visible; /* removes extra side padding in IE */
    cursor: pointer;
    border: 1px solid #999;/* IE */
    border: rgba(0, 0, 0, .2) 1px solid;/* Saf4+, Chrome, FF3.6 */
    border-bottom:rgba(0, 0, 0, .4) 1px solid;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    background: -moz-linear-gradient(
        center top,
        rgba(255, 255, 255, .1) 0%,
        rgba(0, 0, 0, .1) 100%
        );/* FF3.6 */
    background: -webkit-gradient(
        linear,
        center bottom,
        center top,
        from(rgba(0, 0, 0, .1)),
        to(rgba(255, 255, 255, .1))
        );/* Saf4+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')"; /* IE8 */
    -moz-user-select: none;
    -webkit-user-select:none;
    -khtml-user-select: none;
    user-select: none;
    margin-bottom:10px;
}
.button.full, .button.full span {
    display: block;
}
.button:hover, .button.hover {
    background: -moz-linear-gradient(
        center top,
        rgba(255, 255, 255, .2) 0%,
        rgba(255, 255, 255, .1) 100%
        );/* FF3.6 */
    background: -webkit-gradient(
        linear,
        center bottom,
        center top,
        from(rgba(255, 255, 255, .1)),
        to(rgba(255, 255, 255, .2))
        );/* Saf4+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')"; /* IE8 */
}
.button:active, .button.active {
    top:1px;
}
.button span {
    position: relative;
    color:#fff;
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.25);
    border-top: rgba(255, 255, 255, .2) 1px solid;
    padding:0.6em 1.3em;
    line-height:1em;
    text-decoration:none;
    text-align:center;
    white-space: nowrap;
}
.button.large span {
    font-size:18px;
}
.button.gray {
    background-color: #666666;
}

.Button
{
    position: relative;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #d5d5d5;
    text-decoration: none;
    font: 16px Arial;
    font-weight: bold;
    text-align: center;
    text-shadow:0px 0px 0px #444444;
    background: #ffffff;
    padding: 10px 16px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #c13737;
    -moz-box-shadow:inset 0px 0px 0px;
    -webkit-box-shadow:inset 0px 0px 0px;
    box-shadow:inset 0px 0px 0px,
        0 3px 0 #aeaeae,
        0 5px 0 #c13737,
        0 8px 0 #aeaeae,
        0 10px 6px rgba(0,0,0, .60);
}

.Button:hover {
    background: #eeeeee;
    color: #eb5e7f;
    -moz-box-shadow:inset 0px 0px 0px;
    -webkit-box-shadow:inset 0px 0px 0px;
    box-shadow:inset 0px 0px 0px ,
        0 3px 0 rgba(235,94,127, .30),
        0 3px 0 #aeaeae,
        0 5px 5px #eb5e7f,
        0 5px 0 #eb5e7f,
        0 8px 0 rgba(235,94,127, .15),
        0 8px 0 #aeaeae,
        0 10px 6px rgba(0,0,0, .60);
}

.Button:active {
    transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -moz-box-shadow:inset 0px 0px 0px;
    -webkit-box-shadow:inset 0px 0px 0px;
    box-shadow:inset 0px 0px 0px,
        0 3px 0 rgba(235,94,127, .30),
        0 3px 0 #eeeeee,
        0 5px 5px rgba(#eb5e7f, .65),
        0 5px 0 #eb5e7f,
        0 6px 0 rgba(235,94,127, .15),
        0 6px 0 #eeeeee,
        0 6px 6px rgba(0,0,0, .65);
}

.Button2 {
    display: inline-block;
    border: 0px solid #ffffff;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 16px Arial;
    font-weight: bold;
    padding: 10px 16px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-shadow:0px 0px 0px #444444;
    -moz-box-shadow: 0px 0px 0px 0px #444444;
    -webkit-box-shadow: 0px 0px 0px 0px #444444;
    box-shadow: 0px 0px 0px 0px #444444;
    color: #ffffff;
    background: #c7e9ff;
}
.Button2:hover {
    background: #eeeeee;
    text-decoration: none;
    color: #ffffff;
}
.Button2:active {
    color: #ffffff;
    position: relative;
    top: 1px;
}

H2.drawer-handle {
    margin: 0;
    padding: 5px;
    background-color: #36332E;
    font-size: 14px;

}
A.drawer-aa {
    text-decoration: none;
    color: #000000;
}

H2.drawer-handle.open {
    background-color: #777;
     font-size: 22px;
   
}
UL.drawers {
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 5px;
}
